// I M P O R T S - GoogleFonts
@import url('https://fonts.googleapis.com/css?family=BioRhyme|Libre+Franklin');

// V A R I A B L E S
$red: #a30d2d;
$white: #ffffff;
$black: #000000;
$grey: #69645e;
$orange: #ff8e0c;
$primary-text: 'Libre Franklin', Helvetica, Arial, sans-serif;
$headings-text:'BioRhyme', Palatino, serif;


// B A S E S T Y L E S

nav{
    // background: linear-gradient(to bottom $black, $grey, $white);
    background-color: $black;
    color: $white;
    font-family: $primary-text;
    border-bottom: 3px solid $red;
    position: sticky;
    margin: auto;
    top: 0;
    display: flex;
}
 nav .row{
     flex-wrap: wrap;
 }

 nav .col{
     border: 3px solid green;
 }

.search {
    width: 75%;
}

.btn-search{
    background-color: $red;
    border-color: $red;
    color: $white;
}
.btn-search:hover{
    background-color: $orange;
    border-color: $orange;
    color: $white;
}

nav a{
    color:$white;
}
nav a:hover{
    color: $orange;
}

body{
    color: $black;
    font-family: $primary-text;
    font-size: 16px;
}

main{
    margin-top: 75px;
    padding: 1em;
}

h1{
    font-family: $headings-text;
    font-weight: 800;
    color: $red;
    font-size: 2.5em;
    text-transform: uppercase;
}

h2{
    font-family: $headings-text;
    font-weight: 800;
    color: $black;
    font-size: 2em;
    text-transform: uppercase;
}

h3{
    font-family: $headings-text;
    font-weight: 400;
    color: $grey;
    font-size: 1.7em;
    text-transform: uppercase;
}

h4{
    font-family: $headings-text;
    font-weight: 800;
    font-size: 1.2em;
    text-transform: uppercase;
}

footer{
    background-color: $red;
    color: $white;
    font-family: $primary-text;
    padding: 0;
    justify-content: space-between;
}

footer .col{
    padding: 3em;
    margin: 0em;
}

footer .col-center{
    text-align: center;
}

footer h4{
    text-align: center;
}

.social{
    text-align: center;
}
.social a{
    color: $white;
    font-size: 2em;
    padding: .5em;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
 
}

.hidden {
    display: none;
}



.main_card{
    margin: 50px 10px;
}
.card-body{
    margin: 25px;
    padding: 20px;
}
#demo{
    margin-left: 15px;
}

.dropdown_map{
    padding: 2px;
    margin: 5px;
}