lib/node_modules
dist/app.js
dist/css/main.css
dist/css/main.css.map
dist/*
design/
.DS_Store
.vscode/
images/pull-request.png
images/technical.png
images/user-story.png
lib/.sass-cache/
FEATURE_TICKET.md
ISSUE_TICKET.md